.container{
  max-width: 100%;
  height: 737px;
  display: flex;
  flex-direction: column;
  background:  linear-gradient(156.85deg, #FFFFFF -19%, #FFEFBA 99.15%);
  padding:112px 78px ;
}

img{
  width: 264px;
  height: 264px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  margin: 0 auto;
   margin-top: 64px;
   cursor: pointer;
}

h1{
  margin: 0 auto;
font-family: Inter;
font-size: 72px;
font-weight: 700;
line-height: 87px;
letter-spacing: 0em;
text-align: center;
}

p{
margin: 0 auto;
font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 28px;
letter-spacing: 0em;
text-align: left;
margin-top:67px;
}

@media(max-width:700px){
  h1{
    font-size: 45px;
  }
  .container{
    padding: 112px 5px;
  }
}

